<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Tracks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div *ngIf="!spotify.isLogged" class="ion-margin">
    <div>
      <ion-note>Connect with Spotify to improve data quality</ion-note>
    </div>
    <ion-button color="success" (click)="spotify.login()">Spotify login</ion-button>
  </div> -->

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Track search</h2>
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="floating">Artist</ion-label>
              <ion-input formControlName="artist"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Track name</ion-label>
              <ion-input formControlName="trackName"></ion-input>
            </ion-item>

            <ion-button color="primary" type="submit">Search</ion-button>
          </form>
        </ion-col>

        <ion-col>
          <h2>Playlist analyser <small>(only <code>.nml</code> format)</small></h2>
          <form>
            <input
              type="file"
              (change)="onFileChange($event)">
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-progress-bar  *ngIf="loading" type="indeterminate"></ion-progress-bar>

    <ion-list>
      <ion-list-header *ngIf="trackCollection.length" lines="inset">
        <ion-label>
          <p *ngIf="trackAnalysed">{{ trackAnalysed }} tracks analysed from playlist</p>
          <p>{{ trackCollection.length }} tracks founds on APIs (iTunes, Spotify and Deezer)</p></ion-label>
      </ion-list-header>

      <ion-item *ngFor="let track of trackCollection">
        <!-- <ion-avatar slot="start">
          <img [src]="track.coverUrl">
        </ion-avatar> -->
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>{{ track.name }}</h2>
                <h3>{{ track.artistName  }}</h3>
              </ion-col>
              <ion-col size="5">
                  <ion-label color="primary">iTunes</ion-label>
                  <p *ngIf="track.genre?.itunes">{{ track.genre?.itunes || 'No result' }}</p>

                  <ion-label color="primary">Spotify</ion-label>
                  <p>{{ track.genre?.spotify || 'No result'  }}</p>

                  <ion-label color="primary">Deezer</ion-label>
                  <p>{{ track.genre?.deezer || 'No result'  }}</p>

                  <ion-label color="primary">Discogs</ion-label>
                  <p>{{ track.genre?.discogs || 'No result'  }}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
